body {
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
    background-color: #fec881;
    color: white;
    font-weight: bold;
    
}

input {

    border-radius: 99999px;
    width: 250px;
    display: block;
    padding: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-top: 3px;
}

label {
    margin-left: 17px;
    
}

    .conteiner-nav {
        height: 10vh;
        background-color: white;
        position: relative;
    }

    .conteiner-nav img{
        height: 12vh;
        margin: 5px;
        opacity: 0.6;
    }

    .conteiner-nav h1{
        text-align: center;
        position: absolute;
        color: black;
        top: 0;
        bottom: 50;
        left: 10%;
        transition: translate(-50%, -50%);
        font-size: 30px;
    }

    .nav {
        
        color:black;
        font-weight: bold;
        font-size: 15px;
        position: absolute;
        top: 50%;
        right: 8%;
        
    }

    a {
        padding-left: 20px;
        color: black;
       
        
    }

   
    

    .conteiner {
        width: 100vw;
        height: 85vh;
        margin: auto;
        position: relative;
        
    }

    .conteiner img{
        width: 100%;
        height: 100%;
    }

    .form {
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin-right: 20px;
        background-color: rgba(255,255,255,var(--tw-bg-opacity));
        --tw-bg-opacity: 0.9;
        padding: 15px;
        width: 300px;
        height: 95%;
    }

    .form p {
        font-family: cursive;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 60px;

    }

    .button-enviar {
        border-radius: 99999px;
        width: 275px;
        padding: 10px;
        display: block;
        margin-top: 60px;
        margin-left: 10px;

    }



    
    

   
